<article>
  <section>
    <h3 card-title>Gestational Diabetes</h3>
    <p>
      Gestational diabetes is a type of diabetes that can develop during
      pregnancy in women who don’t already have diabetes. Every year, 2% to 10%
      of pregnancies in the United States are affected by gestational diabetes.
      Managing gestational diabetes will help make sure you have a healthy
      pregnancy and a healthy baby.
    </p>
  </section>

  <section>
    <h4>What Causes Gestational Diabetes?</h4>
    <p>
      Gestational diabetes occurs when your body can’t make enough insulin
      during your pregnancy. Insulin is a hormone made by your pancreas that
      acts like a key to let blood sugar into the cells in your body for use as
      energy.
    </p>

    <p>
      During pregnancy, your body makes more hormones and goes through other
      changes, such as weight gain. These changes cause your body’s cells to use
      insulin less effectively, a condition called insulin resistance. Insulin
      resistance increases your body’s need for insulin.
    </p>

    <p>
      All pregnant women have some insulin resistance during late pregnancy.
      However, some women have insulin resistance even before they get pregnant.
      They start pregnancy with an increased need for insulin and are more
      likely to have gestational diabetes.
    </p>
  </section>

  <section>
    <h4>Symptoms and Risk Factors</h4>
    <p>
      Gestational diabetes typically doesn’t have any symptoms. Your medical
      history and whether you have any risk factors may suggest to your doctor
      that you could have gestational diabetes, but you’ll need to be tested to
      know for sure.
    </p>
  </section>

  <section>
    <h4>Related Health Problems</h4>
    <p>
      Having gestational diabetes can increase your risk of high blood pressure
      during pregnancy. It can also increase your risk of having a large baby
      that needs to be delivered by cesarean section (C-section).
    </p>

    <p>If you have gestational diabetes, your baby is at higher risk of:</p>

    <ul>
      <li>
        <p>
          Being very large (9 pounds or more), which can make delivery more
          difficult
        </p>
      </li>
      <li>
        <p>Being born early, which can cause breathing and other problems</p>
      </li>
      <li><p>Having low blood sugar</p></li>
      <li><p>Developing type 2 diabetes later in life</p></li>
    </ul>

    <p>
      Your blood sugar levels will usually return to normal after your baby is
      born. However, about 50% of women with gestational diabetes go on to
      develop type 2 diabetes. You can lower your risk by reaching a healthy
      body weight after delivery. Visit your doctor to have your blood sugar
      tested 6 to 12 weeks after your baby is born and then every 1 to 3 years
      to make sure your levels are on target.
    </p>
  </section>

  <section>
    <h4>Testing for Gestational Diabetes</h4>
    <p>
      It’s important to be tested for gestational diabetes so you can begin
      treatment to protect your health and your baby’s health.
    </p>
    <p>
      Gestational diabetes usually develops around the 24th week of pregnancy,
      so you’ll probably be tested between 24 and 28 weeks.
    </p>
    <p>
      If you’re at higher risk for gestational diabetes, your doctor may test
      you earlier. Blood sugar that’s higher than normal early in your pregnancy
      may indicate you have type 1 or type 2 diabetes rather than gestational
      diabetes.
    </p>
  </section>

  <section>
    <h4>Prevention</h4>
    <p>
      Before you get pregnant, you may be able to prevent gestational diabetes
      by losing weight if you’re overweight and getting regular physical
      activity.
    </p>
    <p>
      Don’t try to lose weight if you’re already pregnant. You’ll need to gain
      some weight—but not too quickly—for your baby to be healthy. Talk to your
      doctor about how much weight you should gain for a healthy pregnancy.
    </p>
  </section>

  <section>
    <h4>Treatment for Gestational Diabetes</h4>
    <p>
      You can do a lot to manage your gestational diabetes. Go to all your
      prenatal appointments and follow your treatment plan, including:
    </p>

    <ul>
      <li>
        <p>
          <strong>Checking your blood sugar</strong> to make sure your levels
          stay in a healthy range.
        </p>
      </li>
      <li>
        <p>
          <strong
            >Eating healthy food in the right amounts at the right
            times.</strong
          >
          Follow a healthy eating plan created by your doctor or dietitian.
        </p>
      </li>
      <li>
        <p>
          <strong>Being active.</strong> Regular physical activity that’s
          moderately intense (such as brisk walking) lowers your blood sugar and
          makes you more sensitive to insulin so your body won’t need as much.
          Make sure to check with your doctor about what kind of physical
          activity you can do and if there are any kinds you should avoid.
        </p>
      </li>
      <li>
        <p>
          <strong>Monitoring your baby.</strong> Your doctor will check your
          baby’s growth and development.
        </p>
      </li>
    </ul>

    <p>
      If healthy eating and being active aren’t enough to manage your blood
      sugar, your doctor may prescribe insulin, metformin, or other medication.
    </p>
  </section>
</article>
