<div class="container col-4">
  <form [formGroup]="sendPasswordResetEmailForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Enter your email"
      />
    </div>

    <ng-container *ngIf="this.showSpinner; else noSpinner">
      <button class="btn btn-primary w-100" disabled>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Sending ...
      </button>
    </ng-container>
    <ng-template #noSpinner>
      <button
        class="btn btn-primary w-100"
        type="submit"
        [disabled]="sendPasswordResetEmailForm.invalid"
      >
        Send
      </button>
    </ng-template>
  </form>
</div>
