<article>
  <section>
    <h3 card-title>Type 1 Diabetes</h3>

    <p>
      If you have type 1 diabetes, your pancreas doesn’t make insulin or makes
      very little insulin. Insulin helps blood sugar enter the cells in your
      body for use as energy. Without insulin, blood sugar can’t get into cells
      and builds up in the bloodstream. High blood sugar is damaging to the body
      and causes many of the symptoms and complications of diabetes.
    </p>

    <p>
      Type 1 diabetes was once called insulin-dependent or juvenile diabetes. It
      usually develops in children, teens, and young adults, but it can happen
      at any age.
    </p>

    <p>
      Type 1 diabetes is less common than type 2—about 5-10% of people with
      diabetes have type 1. Currently, no one knows how to prevent type 1
      diabetes, but it can be treated successfully by:
    </p>

    <ul>
      <li>
        <p>
          Following your doctor’s recommendations for living a healthy
          lifestyle.
        </p>
      </li>
      <li><p>Managing your blood sugar.</p></li>
      <li><p>Getting regular health checkups.</p></li>
      <li><p>Getting diabetes self-management education and support.</p></li>
    </ul>

    <section>
      <h5>For Parents</h5>

      <p>
        If your child has type 1 diabetes—especially a young child—you’ll handle
        diabetes care on a day-to-day basis. Daily care will include serving
        healthy foods, giving insulin injections, and watching for and treating
        hypoglycemia (low blood sugar). You’ll also need to stay in close
        contact with your child’s health care team. They will help you
        understand the treatment plan and how to help your child stay healthy.
      </p>

      <p>
        Much of the information that follows applies to children as well as
        adults. You can also visit
        <a href="https://www.jdrf.org/t1d-resources/">JDRF’s T1D Resources</a>
        for more information on managing your child’s type 1 diabetes.
      </p>
    </section>
  </section>

  <section>
    <h4>What Causes Type 1 Diabetes?</h4>

    <p>
      Type 1 diabetes is thought to be caused by an autoimmune reaction (the
      body attacks itself by mistake). This reaction destroys the cells in the
      pancreas that make insulin, called beta cells. This process can go on for
      months or years before any symptoms appear.
    </p>

    <p>
      Some people have certain genes (traits passed on from parent to child)
      that make them more likely to develop type 1 diabetes. However, many of
      them won’t go on to have type 1 diabetes even if they have the genes. A
      trigger in the environment, such as a virus, may also play a part in
      developing type 1 diabetes. Diet and lifestyle habits don’t cause type 1
      diabetes.
    </p>
  </section>

  <section>
    <h4>Symptoms and Risk Factors</h4>
    <p>
      It can take months or years before symptoms of type 1 diabetes are
      noticed. Type 1 diabetes symptoms can develop in just a few weeks or
      months. Once symptoms appear, they can be severe.
    </p>
    <p>
      Some type 1 diabetes symptoms are similar to symptoms of other health
      conditions. Don’t guess! If you think you could have type 1 diabetes, see
      your doctor to get your blood sugar tested. Untreated diabetes can lead to
      very serious—even fatal—health problems.
    </p>
    <p>
      Risk factors for type 1 diabetes are not as clear as for prediabetes and
      type 2 diabetes. However, studies show that family history plays a part.
    </p>
  </section>

  <section>
    <h4>Testing for Type 1 Diabetes</h4>

    <p>
      A simple blood test will let you know if you have diabetes. If you were
      tested at a health fair or pharmacy, follow up at a clinic or doctor’s
      office. That way you’ll be sure the results are accurate.
    </p>

    <p>
      If your doctor thinks you have type 1 diabetes, your blood may also be
      tested for autoantibodies. These substances indicate your body is
      attacking itself and are often found with type 1 diabetes but not with
      type 2. You may have your urine tested for ketones too. Ketones are
      produced when your body burns fat for energy. Having ketones in your urine
      indicates you have type 1 diabetes instead of type 2.
    </p>
  </section>

  <section>
    <h4>Managing Diabetes</h4>
    <p>
      Unlike many health conditions, diabetes is managed mostly by you, with
      support from your health care team:
    </p>

    <ul>
      <li><p>Primary care doctor</p></li>
      <li><p>Foot doctor</p></li>
      <li><p>Dentist</p></li>
      <li><p>Eye doctor</p></li>
      <li><p>Registered dietitian nutritionist</p></li>
      <li><p>Diabetes educator</p></li>
      <li><p>Pharmacist</p></li>
    </ul>

    <p>
      Also ask your family, teachers, and other important people in your life
      for help and support. Managing diabetes can be challenging, but everything
      you do to improve your health is worth it!
    </p>

    <p>
      If you have type 1 diabetes, you’ll need to take insulin shots (or wear an
      insulin pump) every day. Insulin is needed to manage your blood sugar
      levels and give your body energy. You can’t take insulin as a pill. That’s
      because the acid in your stomach would destroy it before it could get into
      your bloodstream. Your doctor will work with you to figure out the most
      effective type and dosage of insulin for you.
    </p>

    <p>
      You’ll also need to do regular blood sugar checks. Ask your doctor how
      often you should check it and what your target blood sugar levels should
      be. Keeping your blood sugar levels as close to target as possible will
      help you prevent or delay diabetes-related complications.
    </p>

    <p>
      Stress is a part of life, but it can make managing diabetes harder. Both
      managing your blood sugar levels and dealing with daily diabetes care can
      be tougher to do. Regular physical activity, getting enough sleep, and
      exercises to relax can help. Talk to your doctor and diabetes educator
      about these and other ways you can manage stress.
    </p>

    <p>Healthy lifestyle habits are really important too:</p>
    <ul>
      <li><p>Making healthy food choices</p></li>
      <li><p>Being physically active</p></li>
      <li><p>Controlling your blood pressure</p></li>
      <li><p>Controlling your cholesterol</p></li>
    </ul>

    <p>
      Make regular appointments with your health care team. They’ll help you
      stay on track with your treatment plan and offer new ideas and strategies
      if needed.
    </p>
  </section>

  <section>
    <h4>Hypoglycemia and Diabetic Ketoacidosis</h4>
    <p>
      These 2 conditions are common complications of diabetes, and you’ll need
      to know how to handle them. Meet with your doctor for step-by-step
      instructions. You may want to bring a family member with you to the
      appointment so they learn the steps too.
    </p>

    <p>
      Hypoglycemia (low blood sugar) can happen quickly and needs to be treated
      quickly. It’s most often caused by:
    </p>
    <ul>
      <li><p>Too much insulin.</p></li>
      <li><p>Waiting too long for a meal or snack.</p></li>
      <li><p>Not eating enough.</p></li>
      <li><p>Getting extra physical activity.</p></li>
    </ul>

    <p>
      Talk to your doctor if you have low blood sugar several times a week. Your
      treatment plan may need to be changed.
    </p>

    <p>
      Diabetic ketoacidosis (DKA) is a serious complication of diabetes that can
      be life-threatening. DKA develops when you don’t have enough insulin to
      let blood sugar into your cells. Very high blood sugar and low insulin
      levels lead to DKA. The two most common causes are illness and missing
      insulin shots. Talk with your doctor and make sure you understand how you
      can prevent and treat DKA.
    </p>
  </section>

  <section>
    <h4>Get Diabetes Education</h4>
    <p>
      Meeting with a diabetes educator is a great way to get support and
      guidance, including how to:
    </p>

    <ul>
      <li><p>Develop and stick to a healthy eating and activity plan</p></li>
      <li><p>Test your blood sugar and keep a record of the results</p></li>
      <li>
        <p>
          Recognize the signs of high or low blood sugar and what to do about it
        </p>
      </li>
      <li><p>Give yourself insulin by syringe, pen, or pump</p></li>
      <li><p>Monitor your feet, skin, and eyes to catch problems early</p></li>
      <li><p>Buy diabetes supplies and store them properly</p></li>
      <li><p>Manage stress and deal with daily diabetes care</p></li>
    </ul>

    <p>
      Ask your doctor about diabetes self-management education and support
      services and to recommend a diabetes educator. You can also search this
      <a
        href="https://www.diabeteseducator.org/living-with-diabetes/find-an-education-program"
        >nationwide directory</a
      >
      for a list of programs in your community.
    </p>
  </section>

  <section>
    <h4>Get Support</h4>
    <p>
      Tap into online diabetes communities for encouragement, insights, and
      support. Check out the
      <a href="https://community.diabetes.org/home"
        >American Diabetes Association’s Community page</a
      >
      and
      <a
        href="https://forum.jdrf.org/?_ga=2.43849696.495873998.1585157750-439931249.1585157750"
        >JDRF’s TypeOneNation</a
      >. Both are great ways to connect with others who share your experience.
    </p>
  </section>
</article>
