<article>
  <section>
    <h3 card-title>Prediabetes</h3>
    <p>Your Chance to Prevent Type 2 Diabetes</p>
  </section>

  <section>
    <h4>What Is Prediabetes?</h4>
    <p>
      Prediabetes is a serious health condition where blood sugar levels are
      higher than normal, but not high enough yet to be diagnosed as type 2
      diabetes. Approximately 96 million American adults—more than 1 in 3—have
      prediabetes. Of those with prediabetes, more than 80% don’t know they have
      it. Prediabetes puts you at increased risk of developing type 2 diabetes,
      heart disease, and stroke.
    </p>
    <p>
      The good news is that if you have prediabetes, the CDC-led National
      Diabetes Prevention Program can help you make lifestyle changes to prevent
      or delay type 2 diabetes and other serious health problems.
    </p>
  </section>

  <section>
    <h4>What Causes Prediabetes?</h4>
    <p>
      Insulin is a hormone made by your pancreas that acts like a key to let
      blood sugar into cells for use as energy. If you have prediabetes, the
      cells in your body don’t respond normally to insulin. Your pancreas makes
      more insulin to try to get cells to respond. Eventually your pancreas
      can’t keep up, and your blood sugar rises, setting the stage for
      prediabetes—and type 2 diabetes down the road.
    </p>
  </section>

  <section>
    <h4>Signs & Symptoms</h4>
    <p>
      You can have prediabetes for years but have no clear symptoms, so it often
      goes undetected until serious health problems such as type 2 diabetes show
      up. It’s important to talk to your doctor about getting your blood sugar
      tested if you have any of the risk factors for prediabetes, which include:
    </p>

    <ul>
      <li><p>Being overweight</p></li>
      <li><p>Being 45 years or older</p></li>
      <li><p>Having a parent, brother, or sister with type 2 diabetes</p></li>
      <li><p>Being physically active less than 3 times a week</p></li>
      <li>
        <p>
          Ever having gestational diabetes (diabetes during pregnancy) or giving
          birth to a baby who weighed more than 9 pounds
        </p>
      </li>
      <li><p>Having polycystic ovary syndrome</p></li>
    </ul>

    <p>
      Race and ethnicity are also a factor: African Americans, Hispanic/Latino
      Americans, American Indians, Pacific Islanders, and some Asian Americans
      are at higher risk.
    </p>
  </section>

  <section>
    <h4>Simple Blood Sugar Test</h4>
    <p>
      You can get a simple blood sugar test to find out if you have prediabetes.
      Ask your doctor if you should be tested.
    </p>
  </section>

  <section>
    <h4>Preventing Type 2 Diabetes</h4>
    <p>
      If you have prediabetes, losing a small amount of weight if you’re
      overweight and getting regular physical activity can lower your risk for
      developing type 2 diabetes. A small amount of weight loss means around 5%
      to 7% of your body weight, just 10 to 14 pounds for a 200-pound person.
      Regular physical activity means getting at least 150 minutes a week of
      brisk walking or a similar activity. That’s just 30 minutes a day, five
      days a week.
    </p>
    <p>
      A lifestyle change program offered through the CDC-led National Diabetes
      Prevention Program can help you make those changes—and make them stick.
      Through the program, you can lower your risk of developing type 2 diabetes
      by as much as 58% (71% if you’re over age 60). Highlights include:
    </p>

    <ul>
      <li>
        <p>
          Working with a trained coach to make realistic, lasting lifestyle
          changes.
        </p>
      </li>
      <li>
        <p>
          Discovering how to eat healthy and add more physical activity into
          your day.
        </p>
      </li>
      <li>
        <p>
          Finding out how to manage stress, stay motivated, and solve problems
          that can slow your progress.
        </p>
      </li>
      Finding out how to manage stress, stay motivated, and solve problems that
      can slow your progress.
      <li>
        <p>Getting support from people with similar goals and challenges.</p>
      </li>
    </ul>

    <p>
      Ask your doctor or nurse if there’s a CDC-recognized National Diabetes
      Prevention Program offered in your community or find one here. The best
      time to prevent type 2 diabetes is <strong>now.</strong>
    </p>
  </section>
</article>
