<article>
  <section>
    <h3 card-title>Risk Factors</h3>
  </section>

  <section>
    <h4>Type 1 Diabetes</h4>
    <p>
      Type 1 diabetes is thought to be caused by an immune reaction (the body
      attacks itself by mistake). Risk factors for type 1 diabetes are not as
      clear as for prediabetes and type 2 diabetes. Known risk factors include:
    </p>

    <ul>
      <li>
        <p>
          <strong>Family history:</strong> Having a parent, brother, or sister
          with type 1 diabetes.
        </p>
      </li>
      <li>
        <p>
          <strong>Age:</strong> You can get type 1 diabetes at any age, but it
          usually develops in children, teens, or young adults.
        </p>
      </li>
    </ul>

    <p>
      In the United States, White people are more likely to develop type 1
      diabetes than African American and Hispanic or Latino people.
    </p>

    <p>Currently, no one knows how to prevent type 1 diabetes.</p>
  </section>

  <section>
    <h4>Type 2 Diabetes</h4>
    <p>You’re at risk for type 2 diabetes if you:</p>

    <ul>
      <li><p>Have prediabetes.</p></li>
      <li><p>Are overweight.</p></li>
      <li><p>Are 45 years or older.</p></li>
      <li><p>Have a parent, brother, or sister with type 2 diabetes.</p></li>
      <li><p>Are physically active less than 3 times a week.</p></li>
      <li>
        <p>
          Have ever had gestational diabetes (diabetes during pregnancy) or
          given birth to a baby who weighed over 9 pounds.
        </p>
      </li>
      <li>
        <p>
          Are an African American, Hispanic or Latino, American Indian, or
          Alaska Native person. Some Pacific Islanders and Asian American people
          are also at higher risk.
        </p>
      </li>
    </ul>

    <p>
      If you have non-alcoholic fatty liver disease you may also be at risk for
      type 2 diabetes.
    </p>

    <p>
      You can prevent or delay type 2 diabetes with proven lifestyle changes.
      These include losing weight if you’re overweight, eating a healthy diet,
      and getting regular physical activity.
    </p>
  </section>

  <section>
    <h4>Prediabetes</h4>
    <p>You’re at risk for prediabetes if you:</p>

    <ul>
      <li><p>Are overweight.</p></li>
      <li><p>Are 45 years or older.</p></li>
      <li><p>Have a parent, brother, or sister with type 2 diabetes.</p></li>
      <li><p>Are physically active less than 3 times a week.</p></li>
      <li>
        <p>
          Have ever had gestational diabetes (diabetes during pregnancy) or
          given birth to a baby who weighed over 9 pounds.
        </p>
      </li>
      <li>
        <p>
          Are an African American, Hispanic or Latino, American Indian, or
          Alaska Native person. Some Pacific Islander and Asian American people
          are also at higher risk.
        </p>
      </li>
    </ul>

    <p>
      You can prevent or reverse prediabetes with proven lifestyle changes.
      These include losing weight if you’re overweight, eating a healthy diet,
      and getting regular physical activity. The CDC-led National Diabetes
      Prevention Program can help you make healthy changes that have lasting
      results.
    </p>
  </section>

  <section>
    <h4>Gestational Diabetes</h4>
    <p>
      You’re at risk for gestational diabetes (diabetes while pregnant) if you:
    </p>

    <ul>
      <li><p>Had gestational diabetes during a previous pregnancy.</p></li>
      <li><p>Have given birth to a baby who weighed over 9 pounds.</p></li>
      <li><p>Are overweight.</p></li>
      <li><p>Are more than 25 years old.</p></li>
      <li><p>Have a family history of type 2 diabetes.</p></li>
      <li>
        <p>Have a hormone disorder called polycystic ovary syndrome (PCOS).</p>
      </li>
      <li>
        <p>
          Are an African American, Hispanic or Latino, American Indian, Alaska
          Native, Native Hawaiian, or Pacific Islander person.
        </p>
      </li>
    </ul>

    <p>
      Gestational diabetes usually goes away after you give birth, but increases
      your risk for type 2 diabetes. Your baby is more likely to have obesity as
      a child or teen, and to develop type 2 diabetes later in life.
    </p>

    <p>
      Before you get pregnant, you may be able to prevent gestational diabetes
      with lifestyle changes. These include losing weight if you’re overweight,
      eating a healthy diet, and getting regular physical activity.
    </p>
  </section>
</article>
