<article>
  <section>
    <h3 card-title>Symptoms</h3>
    <p>
      If you have any of the following diabetes symptoms, see your doctor about
      getting your blood sugar tested:
    </p>

    <ul>
      <li><p>Urinate (pee) a lot, often at night</p></li>
      <li><p>Are very thirsty</p></li>
      <li><p>Lose weight without trying</p></li>
      <li><p>Are very hungry</p></li>
      <li><p>Have blurry vision</p></li>
      <li><p>Have numb or tingling hands or feet</p></li>
      <li><p>Feel very tired</p></li>
      <li><p>Have very dry skin</p></li>
      <li><p>Have sores that heal slowly</p></li>
      <li><p>Have more infections than usual</p></li>
    </ul>
  </section>

  <section>
    <h4>Symptoms of Type 1 Diabetes</h4>
    <p>
      People who have type 1 diabetes may also have nausea, vomiting, or stomach
      pains. Type 1 diabetes symptoms can develop in just a few weeks or months
      and can be severe. Type 1 diabetes usually starts when you’re a child,
      teen, or young adult but can happen at any age.
    </p>
  </section>

  <section>
    <h4>Symptoms of Type 2 Diabetes</h4>
    <p>
      Type 2 diabetes symptoms often take several years to develop. Some people
      don’t notice any symptoms at all. Type 2 diabetes usually starts when
      you’re an adult, though more and more children and teens are developing
      it. Because symptoms are hard to spot, it’s important to know the risk
      factors for type 2 diabetes. Make sure to visit your doctor if you have
      any of them.
    </p>
  </section>

  <section>
    <h4>Symptoms of Gestational Diabetes</h4>
    <p>
      Gestational diabetes (diabetes during pregnancy) usually doesn’t have any
      symptoms. If you’re pregnant, your doctor should test you for gestational
      diabetes between 24 and 28 weeks of pregnancy. If needed, you can make
      changes to protect your health and your baby’s health.
    </p>
  </section>
</article>
