<app-header></app-header>

<div class="container-fluid">
  <h2>The Diabetic Compass</h2>
  <p></p>

  <div class="card">
    <div class="card-body">
      <article>
        <section>
          <h3>What is The Diabetic Compass?</h3>
          <p>
            The Diabetic Compass is a simple machine learning algorithm using
            logistic regression to predict whether or not you are at risk of
            developing diabetes.
          </p>

          <p>
            In order to use The Diabetic Compass, Sign in or Create an account
            to get started!
          </p>
        </section>
      </article>
    </div>
  </div>
</div>
